*::-webkit-scrollbar {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}
*::-webkit-scrollbar-thumb:vertical {
  background: #a7a6a6;
  border-radius: 0.4rem;
  margin: 1rem solid black;
  border: 1rem solid #797979;
}
*::-webkit-scrollbar-thumb:horizontal{
  background: #a7a6a6;
  border-radius: 0.4rem;
  margin: 1rem solid black;
  border: 1rem solid #797979;
}
